.section-cards {
    background-color: #80c8e1;
    padding: 1rem;
    
}

.cards-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1rem;
    background-color: #3fbde7;
}
